.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  
}

/*---------------------------------------------------------------------------------*/
._container {
  min-width: 1302px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 69px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

._btn {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: 'salt'on, 'liga'off;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
}

/*------------------------------------------------------------------------------------------*/
/*-------------HEADER-----------------------------------------------------------------------*/
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__container {
  min-height: 90px;
  display: flex;
  align-items: center;
}


.header__logo {}

.logo {}

.logo__item {}

.header__logo-text {
  font-style: normal;
  font-weight: 900;
  font-size: 21px;
  line-height: calc(20 / 21 * 100%);
  font-feature-settings: 'salt'on, 'liga'off;
  color: inherit;
}

.header__menu {
  margin-left: 91px;

}

.menu {
  padding: 5px 0;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  min-width: 31.39vw;
}

.menu__item {}

.menu__item:not(:last-child) {
  margin: 0 24px 0 0;
}

.menu__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(20 / 14 * 100%);
  font-feature-settings: 'salt'on, 'liga'off;
  color: #090A14;
}

.header__buttons {
  margin: -10px 0 -10px 332px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  position: absolute;
  right: 69px;
}

.header__button {
  margin-bottom: 10px;
}

._transparent {
  border: 1px solid #090A14;
  box-sizing: border-box;
  color: #090A14;
  width: 109px;
  padding: 12px 30px;
  margin-right: 20px;

}

._black {
  width: 166px;
  padding: 12px 32px;
  background: #090A14;
  color: #FEFEFE;
}

/*-------------------------------------------------------------------------------------------*/

.page {
  background: #131A52;
}

.page__main-block {}

.page__solutions {
  position: relative;
  z-index: 2;
  margin: -123px 0 0 0;
}

.page__value {
}

.page__solutions {
}

.page__products {
  position: relative;
  z-index: 2;
}

.page__features {
  position: relative;

}

.page__setup {
  position: relative;
  margin-top: 100px;
}

.page__forbes {
  position: relative;
  margin-top: 151px;
}

.page__developers {
  position: relative;
  margin-top: 100px;
}

/*-------------------------------------------------------------------------------------------*/
/*------------MAIN BLOCK---------------------------------------------------------------------*/


.main-block {
  position: relative;
}

.main-block__container {}

.main-block__body {
  padding: 166px 0 285px;
  position: relative;
  max-width: 610px;
  z-index: 2;
}

.main-block__body>*:not(:last-child) {
  margin: 0 0 28px 0;
}

.main-block__title {
  font-weight: 800;
  font-size: 50px;
  line-height: 126.5%;
  color: #090A14;
}

.main-block__button {}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.color-cover{
  width: 1440px;
  height: 712px;
  background: #093CBD;
  mix-blend-mode: color;
}
/*-------------------------------------------------------------------------------------------*/

._text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #141527;
}

._title {
  font-weight: bold;
  font-size: 18px;
  line-height: 133%;

}

._decoration{
  display: block;
  width: 428px;
  height: 0;
  border-top: 3px solid 
}

._sbtns{
  
  display: flex;

}

._sbtn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

._black--container{
  position: relative;
  background: #141527;
  padding-left: 180px;
  margin: 0 0 0 -69px;
}
/*-----------SOLUTIONS-----------------------------------------------------------------------*/


.solutions__text-container {
  position: absolute;
  width: 968px;
  height: 138px;
  left: 191px;
  top: -70px;
  background: #141527;
  padding: 39px 92px;
}

.solutions__text {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 123%;
  color: #FFFFFF;
}

.solutions__container {
  width: 100vw;
  height: 615px;
  left: 68px;
  top: 589px;
  background: #FFFFFF;
  padding: 180px 0 0 111px;
}


.solutions__decoration {
  
  color: #141527;
  margin-bottom: 43px;
}

.solutions__container-title{
  height: 40px;
  margin-bottom: 49px;
  display: flex;
  color: #141527;
}

.solutions__title {
  font-size: 28px; 
  line-height: 123%;
  
}

.slider__buttons {

  margin: -5px 0 -5px 60.42vw;
}

.slider__button {

}

._border {
  border: 1px solid #141527;
  align-items: center;
  margin-right: 12px;
}

.slider__control {
}

.arrow {
  align-items: center;
  position: relative;
  left: -2px;
}

._fill {
  background: #000;
}

.slider {
}

.slider__container {
}

.slider__list {
  display: flex;
  /*transition: transform 0.5s ease-in-out;*/
  transform: translate(0, 0);
  transition: transform 0.5s
}

.slider__column {
  
  margin: 0 40px 0px 0px;
  flex-shrink: 0;
}

.column {
}

.column__item {

  width: 296px;
  height: 147px;
}

.column__title {
  margin: 10px 0 4px;
}

.column__text {
  width: 248px;
}


/*-------------------------------------------------------------------------------------------*/
/*---------VALUE-----------------------------------------------------------------------------*/

.value {
  position: relative;
}
 
.value__container {
  padding: 100px 180px;
  display: flex;
}

.value__body {
  margin: 53px 77px 0 0;
  width: 600px;
  height: 99px;
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 136%;
  color: #FFFFFF;
}

.value__numbers {
  width: 340px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.number__v {
  display: grid;
  place-items: center;
}

.number {
  font-family: Jost;
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 123%;
  color: #FFFFFF;
}

.number__text {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 123%;
  color: #FFFFFF;
}

/*---------------------------------------------------------------------------------------------------------------*/

/*-------------PRODUCTS------------------------------------------------------------------------------------------*/

.products__container {
  padding: 60px 0 0 180px;
  height: 464px;
}

.products__decoration {
  color: #fff;
  margin-bottom: 40px;
}

.products__container-title {
  display: flex;
  
}

.products__title {
  position: relative;
  width: 114px;
  height: 34px;
  color: #FFFFFF;
  font-size: 28px; 
  line-height: 123%;
  margin-bottom: 60px;
}

.products__container-title .slider__buttons {
  margin-left: 64.44vw;
}

.slider__button {
}

.products__container-title  ._fill {
  background: #fff;
}

.slider__control {

}

._prev {
}

.arrow {
}

.products__container-title ._border {
  border: 1px solid #fff;
  align-items: center;
  margin-right: 12px;
}

._next {
}

.products__comment {
  display: flex;
  min-width: 302px;
  position: relative;
  margin: 0px 0 32px 0;
}

.comment {
}

.comment__ready {
  font-family: Jost;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 123%;
  text-decoration-line: underline;
  color: #FFFFFF;
  margin-right: 24px;
}

.comment__use {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 123%;
   color: #FFFFFF;
}

.slider {
}

.slider__container {
}

.slider__list {
}

._products .slider__column {
  height: 328px;
  background: #fff;
}

.column {
}

._products .column__item {
  height: 213px;
  margin-bottom: 10px;
}

._products .column__title {
  margin-left: 24px;
}

.column__text {
  margin-left: 24px;
}

/*---------------------------------------------------------------------------------------------------------------*/

/*------------- FEATURES-----------------------------------------------------------------------------------------*/

.features__container {
  margin: 215px 0 0 69px;
  width: inherit;
  height: 390px;
  background: #FFF;
  padding: 55px 0 0 99px;
}

.features__decoration {
}

.features__title {
  font-size: 28px;
  margin-top: 30px;
}

.features__services {
  display: flex;
  margin-top: 46px;
}

.sevices__column {
  width: 244px;

}
.sevices__column:not(:last-child){
  margin-right: 84px;
}

.services__item {
}

.services__title {
  margin-top: 19.91px;
  font-weight: 600;
  font-size: 17.3473px;
  line-height: 133%;
}

.services__text {
  margin-top: 6.5px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  width: 198px;
  color: #070B2E;
}

/*---------------------------------------------------------------------------------------------------------------*/

/*-------------EASY SETUP----------------------------------------------------------------------------------------*/

.setup__container {
  height: 383px;
  padding-top: 55px;
}

.setup__decoration {
  color: #fff;
}

.setup__title {
  margin-top: 30px;
  font-size: 28px;
  line-height: 123%;
   color: #FFFFFF;
}

.setup__services {
  margin-top: 68px;
  display: flex;
}

.setup .sevices__column {
  width: 136px;
}

.sevices__column:not(:last-child){
  margin-right: 170px;
}

.services__number {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #4BA7FC;
  position: relative;
  top: 20px;
  left: -6px;
  color: #fff;
  text-align: center;
}

.services__item {
}

.services__number--value {
  position: relative;
  display: block;
  top: 7px;
}

.setup .services__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #FFFFFF;
  width: 142px;
}

/*---------------------------------------------------------------------------------------------------------------*/

/*-------------FORBES--------------------------------------------------------------------------------------------*/


.forbes {
}

.forbes__image {
  position: absolute;
  left: 180px;
  margin: -51px 0 0 -111px;
}

.forbes__container {
  background: #FFFFFF;
  padding: 39px 0 0 521px;
  margin: 0 0 0 111px;
  height: 365px;
  width: 100%;
}

.forbes__body {
  width: 387px;
}

.forbes__logo {
  margin-bottom: 30px;
}

.forbes__title {
  width: 375px;
  font-weight: bold;
  font-size: 18px;
  line-height: 123%;
  color: #0F1337;
}

.forbes__text {
  margin: 16px 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 123%;
  color: #141527;
}

.forbes__block--btn {
  display: flex;
}

.forbes__active {
  min-width: 62px;
  font-weight: normal;
  font-size: 12px;
  line-height: 123%;
  text-decoration-line: underline;
  color: #093CBD;

}

.forbes .slider__buttons {
  margin-left: 407px;
  float: left;
}

/*---------------------------------------------------------------------------------------------------------------*/

/*-------------DEVELOPERS----------------------------------------------------------------------------------------*/

.developers__container {
  padding: 40px 0 0 180px;
  
}

.developers__decoration {
  color: #fff;
  margin-bottom: 30px;
}

.developers__title {
  font-size: 28px;
  line-height: 123%;
  color: #FFFFFF;
}

.developer__body--container{
  display: flex;
}

.developers__body {
  width: 343px;
  margin: 96px 0 0;
}

.developers__body--title {
  line-height: 123%;
  color: #FFFFFF;
  margin-bottom: 6px;
}

.developers__body--text {
  font-size: 16px;
  line-height: 123%;
  color: #FFFFFF;
  opacity: 0.5
}

.developers__button {
  margin-top: 142px;
  background: #fff;
  color: #141527;
}

.developers__code {
  margin-left: 193px;
  margin-top: 30px;
}

.developers__code--lang {
}

.developers__list--lang {
  display: flex;
  margin: 0px 0 15px 357px;
  
}

.developers__lang {
}

.developers__lang-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #FFFFFF;
}

.developers__lang-item:active{
  text-decoration-line: underline;
}

.developers__lang-item.active{
  text-decoration-line: underline;
}

.developers__lang:not(:last-child) {
  margin-right: 20px;
}

.developers__scroll--block {
  height: 301px;
  width: 546px;
  background:  #1A2747;
  overflow-y: auto;
  scroll-snap-type: y;
  padding: 15px 55px 16px 18px;
  
}

.developers__scroll--block::-webkit-scrollbar {
  width: 7px;
  background-color: #1A2747;

}

.developers__scroll--block::-webkit-scrollbar-thumb {
  border-radius: 14%;
  background-color: #141527;
  scroll-margin-right: 8px;
}

.developers__scroll--block::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 20px;
  background-color: #1A2747;
}

.scroll__text{
  width: 95%;
  height: 600px;
  
}

.scroll--text{
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 123%;
  color: #FFFFFF;
  
}

